<section id="shot-section" class="main-section">
    <div class="screenshot-wrapper">
        <app-screenshot-desc 
        [descImage]="'img/rt_ringtail3.png'"
        desc="yo this a screenshot"/>
        <app-screenshot-desc 
        [descImage]="'img/rt_ringtail3.png'"
        desc="yo this a screenshot"/>
        <app-screenshot-desc 
        [descImage]="'img/rt_ringtail3.png'"
        desc="yo this a screenshot"/>
        <app-screenshot-desc 
        [descImage]="'img/menu_background1.png'"
        desc="LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem"/>
    </div>
</section>