.last-updated {
    font-size: 1.2em;
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

.itch-game {
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
}

.itch-thumbnail {
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.itch-game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 1280px; /* Adjust as needed */
}