<p class="last-updated">Last Updated: 1/6/2026</p>

<div class="itch-game-wrapper">
    @if (is_playable) {
        <iframe frameborder="0" src="https://itch.io/embed-upload/16055718?color=5f460d" allowfullscreen="" width="1280" height="740"><a href="https://spitfiregames.itch.io/ringtail-de">Play Ringtail Definitive Edition on itch.io</a></iframe>
    } 
    @else {
        <img class="itch-thumbnail" 
            src="img/itch_thumbnail.png"
            (click)="enable_is_playable()" />
    }
</div>