.access-page-section {
    background-color: var(--dark-color);
    margin: 25px auto;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.access-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%; /* Centering the links */
}

.access-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px; /* space between items */
}

.access-links li {
    display: inline;
}

.access-links a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
    font-size: 2rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.2s;
}

.access-links a:hover {
  color: var(--text-highlight-color);
}

.itch-widget {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    height: 175px;
    border-radius: 10px;
    border: none;
    background-color: var(--light-color);
}

.itch-game {
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
}

.itch-game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 1280px; /* Adjust as needed */
}