<header class="header">
  <nav>
    <ul>
      <li><a href="#home-section" (click)="scrollToElement('home-section')">HOME</a></li>
      <li><a href="#shot-section" (click)="scrollToElement('shot-section')">SCREENSHOTS</a></li>
      <li><a href="#lore-section" (click)="scrollToElement('lore-section')">LORE</a></li>
      <li><a href="#guide-section" (click)="scrollToElement('guide-section')">GUIDE</a></li>
      <li><a href="#feedback-section" (click)="scrollToElement('feedback-section')">FEEDBACK</a></li>
    </ul>
  </nav>
</header>