<!--Access contains links to the game itself-->
<section id="access-section" class="sub-section access-page-section">
    <h1>Play on the Web!</h1>
    <!-- <div class="access-links">
        <ul>
            <li><a href="#">Web</a></li>
            <li><a href="#">Download</a></li>
        </ul>
    </div>
    <div class="itch-game-wrapper">
        <iframe class="itch-game" frameborder="0" src="https://itch.io/embed-upload/14387180?color=333333" 
        allowfullscreen="" width="1280" height="740">
            <a href="https://spitfiregames.itch.io/ringtail-de"></a>
        </iframe> 
    </div> -->

    <app-game-widget />
    
    <h1>Or download it through Itch.io (Windows Only)</h1>
    <iframe class="itch-widget" frameborder="0" src="https://itch.io/embed/3745122?linkback=true&amp;border_width=5&amp;bg_color=896207&amp;fg_color=dad8d3&amp;link_color=f9d060&amp;border_color=896207" width="560" height="175"><a href="https://spitfiregames.itch.io/ringtail-de">Ringtail Definitive Edition by spitfiregames</a></iframe>
</section>