.access-page-section {
    background-color: #4d5012;
    margin: 25px auto;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.access-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%; /* Centering the links */
}

.access-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px; /* space between items */
}

.access-links li {
    display: inline;
}

.access-links a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
    font-size: 2rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.2s;
}

.access-links a:hover {
  color: #ffda76;
}