<app-header></app-header>

<div class="main-content">
  <section id="home-section" class="page-section">
    <section-thumbnail />
  </section>

  <section id="shot-section" class="page-section">
    <h2>Section 2</h2>
    <p>Content for section 2. More content to scroll through.</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
  </section>

  <section id="lore-section" class="page-section">
    <h2>Section 3</h2>
    <p>Content for section 3. Last section of our page.</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
  </section>
</div>