.summary-text {
    font-family: Bahnschrift, Arial, sans-serif;
    color: var(--text-color);
    text-shadow: var(--header-color) 5px 5px 10px;
    font-size: 2rem;
    text-align: center; 
}

.summary-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    
    background-color: var(--light-color);
    background-image: url(../../../../../public/img/menu_background2.png);
    background-attachment: fixed;
    border-radius: 10px;
    /* box-shadow: #8d9124 0px 0px 5px; */
}

