.screenshot-desc {
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.screenshot-desc-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.screenshot-desc-image {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.screenshot-desc-text-wrapper {
    text-align: center;
    max-width: 300px; 
    word-break: break-word;
    overflow-wrap: break-word;
}

.screenshot-desc-text {
    margin: 0px;
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
}