.screenshot-desc {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    background-color: var(--light-color);
    background-image: url(../../../../public/img/menu_background2.png);
    background-attachment: fixed;

    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.screenshot-desc-list {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screenshot-desc-image {
    width: 75%;
    height: 30%;
    max-height: 550px; 
    object-fit: cover;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-desc-text-wrapper {
    text-align: center;
    max-width: 300px; 
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

.screenshot-desc-text {
    margin: 0px;
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'OldNewspaperTypes', Bahnschrift, Arial, sans-serif;
}