.summary-text {
    font-family: Bahnschrift, Arial, sans-serif;
    color: var(--text-color);
    font-size: x-large;
    text-align: center; 
}

.summary-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    
    background-color: var(--light-color);
    border-radius: 10px;
    /* box-shadow: #8d9124 0px 0px 5px; */
}