<section class="sub-section summary-wrapper">
    <p class="summary-text">
       The town of Plankwood has been terrorized by this 
       nefarious and mystical raccoon beast! After months of ravage, 
       it seems nothing will stop him. However, a local named Oswald Jones, 
       has studied this beast endlessly, and aims to confront him, one on one. 
    </p>
    <br />
    <p class="summary-text">
        Will Oswald fall like others before him, 
        or will he put an end to Ringtail's madness?
    </p>
</section>
