:root {
  --header-color: #6e5211;
  --dark-color: #5f460d;
  --light-color: #896207;
  --text-color: #dad8d3;
  --text-highlight-color: #f9d060;
  --background-color: #93781f00;
}

body {
  margin-top: 60px;
  line-height: 1.6;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url(../public/img/home_background2.png);
  background-attachment: fixed;
}

.main-section {
  /* Main section styles */
  min-height: 40vh; 
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 100px, 20px;
  background-color: var(--background-color);
  border-radius: 4px;
  width: 100%;
}

.sub-section {
  /* Sub-section styles */
  padding: 0px;
  border-radius: 10px;
  box-shadow: #ac212100, 0px 0px 1000px;
}

/* Enable smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}