body {
  margin-top: 60px;
  line-height: 1.6;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url(../public/img/menu_background1.png);
}

.main-section {
  /* Main section styles */
  min-height: 40vh; 
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 100px, 20px;
  background-color: #a7ac2100;
  border-radius: 4px;
  /* box-shadow: #40420c 0px 0px 15px; */
  width: 100%;
}

.sub-section {
  /* Sub-section styles */
  background-color: #7c801013;
  padding: 10px;
  border-radius: 4px;
}

/* Enable smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}